*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.conteiner{
    max-width: 640px;
    width: 100%;
    height: 380px;
    margin: 120px auto;
    border: solid #d0e0eb;
    border-radius: 15px;
    padding: 12px;
    background-color:#ebf7f8;
}

h1{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
}

h2{
    margin-bottom: 30px;
}

h1,h2{
    display: flex;
    justify-content: center;
}

form input,
button{
    border: none;
    display: flex;
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
}

button{
    background-color:#88abc2;
    border: none;
    margin-top: 8px;
    font-size: 16px ;
    font-style: italic;
}

button:hover{
    background-color: #49708a;
    color: #fff;
}

.error-messanger{
    margin: -10px 0 12px 0;
    background-color: red;
    border-radius: 6px;
    padding: 4px;
    color: #fff;
    display: none;
}

.mensager-successo{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #3caa54;
    color: #fff;
    display: none;
}